<!-- authentication/templates/home.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Bienvenue sur FinanceTracker</h1>
        <p class="text-center">L'application pour suivre vos finances !</p>
        
        <!-- Affichage des liens pour l'authentification -->
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <a href="{% url 'signup' %}" class="btn btn-primary btn-block mb-3">Inscription</a>
                <a href="{% url 'signin' %}" class="btn btn-secondary btn-block">Connexion</a>
            </div>
        </div>
    </div>

    <!-- JS pour Bootstrap (optionnel) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
